{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="ps-4">ZUMI</div>
<div class="pe-4"><a href="{% url 'signout' %}" class="btn btn-dark">signout</a></div>
{% endblock %}

{% block main %}
<section id="a1" class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label id="forA">a1</label>
        <input type="text" name="title"><br>
        <input type="file" name="image" accept=".png, .jpg, .jpeg">
        <input type="submit" class="btn btn-dark">
    </form>
</section>
{% endblock %}

{% block footer %}
footer_a
{% endblock %}